<%- include('./partials/head') %>

    <!-- ? Preloader Start -->
 <%- include('./partials/preloader') %>

    <!-- Preloader Start -->
    <%- include('./partials/navbar') %>
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-12 ">
                            <div class="hero__caption hero__caption2 text-center">
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">About The Webcom Technologies</h1>
                                <p><i>Webcom is the premier institute for Web trainings in India. Founded in 1997, Webcom offers advanced trainings in Associate, Professional and Expert level in Web development certifications.Webcom office is located in Yamunanagar!</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->
        <!--? About-1 Area Start -->
        <div class="about-area1 section-padding40">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img data-animation="fadeInLeft" data-delay="1s" src="/undraw_Data_trends_re_2cdy.svg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-caption ">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2>OUR VISION</h2>
                            </div>
                            <p class="mb-40" style="text-align: justify;">Webcom Technologies was launched in 1999. Webcom Technologies in association with IICE TECHNOLOGIES LTD. provides consulting and IT services to clients globally - as partners to conceptualize and realize technology driven business transformation initiatives. With over 500 employees worldwide, we use a low-risk Global Delivery Model (GDM) to accelerate schedules with a high degree of time and cost predictability. Webcom Technologies provides MCA project training, SQT training, 6 months industrial training for B.Tech/MCA.<br>

                             <br>   We provide solutions for a dynamic environment where business and technology strategies converge. Our approach focuses on new ways of business combining IT innovation and adoption while also leveraging an organization's current IT assets.We work with large global corporations and new generation technology companies - to build new products or services and to implement prudent business and technology strategies in today's dynamic digital environment.<br>                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-1 Area End -->
        <!--? About-2 Area Start -->
        <div class="about-area1 pb-bottom">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-caption about-caption3 mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2>OUR PROMISE</h2>
                            </div>
                            <p class="mb-40"style="text-align:justify">Webcom Technologies has incredibly positioned itself as the best institute for web training and has earned a position globally well in terms of provision of training facilities, training methodologies and placement records. Webcom Technologies gives parallel attention to two vital strings that earns an institute a worldly recognition i.e. Knowledge and placements.<br><br>
                                Webcom Technologies has created strategically tested methodologies which are perfectly aligned together by diversely skilled technical team that willfully pledges to take responsibility to groom raw talents into young IT professionals.</p>
                            
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="/undraw_Co_workers_re_1i6i.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-2 Area End -->
    </main>
<%- include('./partials/footer') %>

      <!-- Scroll Up -->
    
<%- include('./partials/backtotop') %>

    <!-- JS here -->

<%- include('./partials/bottom') %>
