<%- include('./partials/head') %>
    <!-- ? Preloader Start -->
    <%- include('./partials/preloader') %>
    <!-- Preloader Start -->
    <%- include('./partials/navbar') %>
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider d-flex align-items-center slider-height ">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-6 col-lg-5 col-md-9 ">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".3s">Welcome to Institue of Excellence</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".6s ">WEBCOM TECHNOLOGIES</h1>
                                    <p data-animation="fadeInLeft" data-delay=".8s"> Webcom offers advanced trainings in Associate,
                                         Professional and Expert level in Web development certifications. Webcom office is located in Yamunanagar!</p>
                                    <!-- Slider btn -->
                                    <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a data-animation="fadeInLeft" data-delay="1s" href="about-us.html" class="btn radius-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img style="width: 650px; height: 800px;" src="/undraw_miro_qvwm.svg" alt="" data-animation="fadeInRight" data-delay="1s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
            <!-- Slider Shape -->
            <!-- <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="/img/hero/top-left-shape.png" alt="">
            </div> -->
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-tittle text-center mb-90">
                        <h2 style=" color:#de6aff;font-style: italic; font-size:xx-large; font-family: 'Times New Roman', Times, serif;">"It does not matter how slowly you go as long as you do not stop."</h2>
                        <p style=" margin-top: -15px;color:#de6aff;"><i>-Confucius - Chinese philosopher, politician and statesman (551 BC l-479 BC)</i></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End -->
    <!--? Team -->
    
    <section class="team-area section-padding25 section-bg1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="section-tittle text-center mb-105">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6"">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img class='fas fa-code faa-pulse animated' style="font-size: 60px; color: #cb6eff;" src=""  alt="">
                        
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Web Design</a></h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img class='fas fa-database faa-pulse animated' style="font-size: 60px; color: #cb6eff;" src=""  alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Web Development</a></h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">  <img class='fas fa-ad faa-pulse animated' style="font-size: 60px; color: #cb6eff;" src=""  alt="">
                        
                          </div>
                        <div class="cat-cap">
                            <h5><a href="#">Digital Marketing</a></h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img class='fas fa-search-dollar faa-pulse animated' style="font-size: 60px; color: #cb6eff;" src=""  alt="">
                        
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">SEO</a></h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img class='fas fa-photo-video faa-pulse animated' style="font-size: 60px; color: #cb6eff;" src=""  alt="">
                        
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Graphic Design</a></h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-cat">
                        <div class="cat-icon">
                            <img class='fas fa-mobile-alt faa-pulse animated' style="font-size: 60px; color: #cb6eff;" src=""  alt="">
                        
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Mobile Development</a></h5>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->
    <!--? Pricing Card Start -->
    
    <!-- Pricing Card End -->
    <!-- ask questions -->
    <section class="ask-questions section-bg1 section-padding30 fix" style="background-color: white;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-10 ">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-90" >
                        <h2 style="color: black;">Why Choose Webcom Technologies</h2>
                        <p style="color: black; font-weight: bold;">Amazing Facts About Webcom Technologies</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera" >
                            <img style="float: left;height: 30px; margin-right: 10px;" src=".//check-circle.gif"  alt="">
                            <h2 style="color: black;">	21+ years of Training excellence</h2>
                            <p style="color: black;">Webcom Technologies, Started in 1997 has completed 21 glorious years of training excellence in the Programming.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <img style="float: left;height: 30px;  margin-right: 10px;" src=".//check-circle.gif"  alt="">
                            <h2 style="color: black;">Innovative Training Methodologies</h2>
                            <p style="color: black;">No extra fee's for Examination and Certifications. Moreover our certificate is well recognized in Industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <img style="float: left;height: 30px;  margin-right: 10px;" src=".//check-circle.gif"  alt="">
                            <h2 style="color: black;">	Best Technical Team</h2>
                            <p style="color: black;">Another biggest reason of Webcom students success in Career, Qualified mentors are very much necessary for proper guidance and quality training.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <img style="float: left;height: 30px;  margin-right: 10px;" src=".//check-circle.gif"  alt="">
                            <h2 style="color: black;">Back-Up Or Repeat Classes</h2>
                            <p style="color: black;">If student missed some classes or want to repeat classes then it is completely fine. We algin some back-up classes for you.</p>                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <img style="float: left;height: 30px;  margin-right: 10px;" src=".//check-circle.gif"  alt="">
                            <h2 style="color: black;">Examination and certifications</h2>
                            <p style="color: black;">No extra fee's for Examination and Certifications. Moreover our certificate is well recognized in Industry.</p>                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <img style="float: left;height: 30px;  margin-right: 10px;" src=".//check-circle.gif"  alt="">
                            <h2 style="color: black;">Learn & Get Inspired every minute</h2>
                            <p style="color: black;">Learning environment of any training institute plays a key role in a student’s success and Webcom has one of the best learning infrastructures in India</p>                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </main>

<!--? Testimonial Area Start -->
    <section class="testimonial-area section-bg1">    
        <div class="container" >   
            <div class="testimonial-wrapper">
                <div class="row align-items-center justify-content-center">
                    <div class=" col-lg-10 col-md-12 col-sm-11">
                        <!-- Testimonial Start -->
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center mt-55">
                                <div class="testimonial-caption">
                                    <img src="/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                    <p>Finest institute in the city.Great teachers with good knowledge and experience. It's a All-in-one institute

                                    </p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span><i>Dhruv Sharma</i></span>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                                           <!-- Single Testimonial -->
                            <div class="single-testimonial text-center mt-55">
                                <div class="testimonial-caption">
                                    <img src="/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                    <p>Great learning platform Teaching skills are brilliant Supportive staff members

                                    </p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span><i>Shubham</i></span>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center mt-55"">
                                <div class="testimonial-caption">
                                    <img src="/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                    <p>Great place #awsum Trainers #positive environment #great infrastucture</p>
                                </div>
                                
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span><i>Ayush </i></span>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial End -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--? Testimonial Area End -->
           
    <%- include('./partials/footer') %>


  <!-- Scroll Up -->

  <%- include('./partials/backtotop') %>
<!-- JS here -->

<%- include('./partials/bottom') %>