<%- include('./partials/head') %>
    <!-- ? Preloader Start -->
    <!-- Preloader Start -->
<%- include('./partials/navbar') %>

<!--? Testimonial Area Start -->
    <!--? Testimonial Area End -->
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-12 ">
                            <div class="hero__caption hero__caption2 text-center">
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">Our Portfolio</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->
        <!--? Pricing Card Start -->
        <section class="pricing-card-area pricing-card-area2 fix">

        </section>

    </main>
           
<%- include('./partials/footer') %>


  <!-- Scroll Up -->

  <%- include('./partials/backtotop') %>

  <%- include('./partials/bottom') %>
